@import "tailwindcss";

/* font */
@font-face {
  font-family: 'SuperPixel';
  src: url('./assets/fonts/Super_Pixel_Personal_Use.ttf');
}

@font-face {
  font-family: 'QuinqueFive';
  src: url('./assets/fonts/QuinqueFive.ttf');
}

@font-face {
  font-family: 'StWinterPixel24BoldDemoBold';
  src: url('./assets/fonts/StWinterPixel24BoldDemoBold.otf');
}

@font-face {
  font-family: 'Sixtyfour-Regular';
  src: url('./assets/fonts/Sixtyfour-Regular.ttf');
}

/* Color */

/* 1 */
@layer base {
  :root {
    --Main-title: #C96565;
  }
}

@layer components {
  .MainTitleColor {
    color: var(--Main-title);
  }
}

/* 좌우 반전 css */
.flip-image {
  transform: scaleX(-1);
}