@import "tailwindcss";

/* font */
@font-face {
  font-family: 'SuperPixel';
  src: url('./assets/fonts/Super_Pixel_Personal_Use.ttf');
}

@font-face {
  font-family: 'QuinqueFive';
  src: url('./assets/fonts/QuinqueFive.ttf');
}

@font-face {
  font-family: 'StWinterPixel24BoldDemoBold';
  src: url('./assets/fonts/StWinterPixel24BoldDemoBold.otf');
}

@font-face {
  font-family: 'Sixtyfour-Regular';
  src: url('./assets/fonts/Sixtyfour-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.ttf');
}

/* Color */
@layer base {
  :root {
    --Main-title: #C96565;
  }
}

@layer components {
  .MainTitleColor {
    color: var(--Main-title);
  }
}

@layer base {
  :root {
    --Change-NickName: #827E7C;
  }
}

@layer components {
  .ChangeNickName {
    color: var(--Change-NickName);
  }
}

@layer base {
  :root {
    --A91515: #F56161;
  }
}

@layer components {
  .A91515 {
    color: var(--A91515);
  }
}

/* 좌우 반전 css */
.flip-image {
  transform: scaleX(-1);
}