@import "tailwindcss";

/* font */
@font-face {
  font-family: 'SuperPixel';
  src: url('./assets/fonts/Super_Pixel_Personal_Use.ttf');
}

@font-face {
  font-family: 'QuinqueFive';
  src: url('./assets/fonts/QuinqueFive.ttf');
}

/* 색상 정의 */
@layer base {
  :root {
    --Main-title: #C96565; /* CSS 변수 이름 앞에 -- 추가 */
  }
}

@layer components {
  .MainTitleColor {
    color: var(--Main-title);
  }
}